
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}

h2{
    color: #6C7A89;
    font-size: 0.8rem;
}

h3 {
    color: #6C7A89;
    font-size: 0.6em;
}