h1{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5rem;
	color: black;
	font-weight: 700;
}

h2{
	color: #6C7A89;
	font-size: 0.8rem;
}


h3 {
	color: #6C7A89;
	font-size: 0.6em;
}


.horizontal-bar {
	position: relative;
	line-height: 16.66vh;
	height: 16.6666666vh;
/*	border: 1px solid black;*/

}
.horizontal-bar2 {
	position:relative;
	line-height: 25vh;
	height: 25vh;
}

.horizontal-bar3 {
    position:relative;
    line-height: 27.8vh;
    height: 27.8vh;
}

#begin-button a {
	position: relative;
	color: #90a4ae;
	font-size: 0.6rem;
	text-decoration: none;
}
#bulb-container {
	position:relative;
}
#bulb {
	position: relative;
	top: 5vh;
	text-align: center;
	height: 70vh;
}