<div class="container-fluid">
	<div class="row">
		<div class="horizontal-bar col-xs-12 question">
			How far away is the source?
		</div>
		<div class="horizontal-bar col-xs-12 answer answer1 cursor-pointer" ng-click="qStorage.distance='1'" ui-sref="instructions">
			Less than 1 foot <img class="arrow" src='assets/right_arrow.png'>
		</div>
		<div class="horizontal-bar col-xs-12 answer answer2 cursor-pointer" ng-click="qStorage.distance='2'" ui-sref="instructions">
			1 to 3 feet <img class="arrow" src='assets/right_arrow.png'>
		</div>
		<div class="horizontal-bar col-xs-12 answer answer3 cursor-pointer" ng-click="qStorage.distance='4'" ui-sref="instructions">
			3 to 5 feet <img class="arrow" src='assets/right_arrow.png'>
		</div>
		<div class="horizontal-bar col-xs-12 answer answer4 cursor-pointer" ng-click="qStorage.distance='7'" ui-sref="instructions">
			5 to 10 feet <img class="arrow" src='assets/right_arrow.png'>
		</div>
		<div class="horizontal-bar col-xs-12 answer answer5 cursor-pointer">
			<input type="number" ng-model="customDist" placeholder="Custom" length="3"> feet &nbsp;
            <span class="glyphicon glyphicon-chevron-right" ng-click="qStorage.distance=customDist" ui-sref="instructions"></span>
		</div>
	</div>
</div>