<div class="container-fluid">
	<div class="row" ui-sref="types">
		<div class="horizontal-bar col-xs-12 question">
			How far away is the source?
		</div>
		<div class="horizontal-bar col-xs-12 answer answer1 cursor-pointer" ng-click="qStorage.model.distance='1'">
			Less than 1 foot <img class="arrow" src='assets/right_arrow.png'>
		</div>
		<div class="horizontal-bar col-xs-12 answer answer2 cursor-pointer" ng-click="qStorage.model.distance='2'">
			1 to 3 feet <img class="arrow" src='assets/right_arrow.png'>
		</div>
		<div class="horizontal-bar col-xs-12 answer answer3 cursor-pointer" ng-click="qStorage.model.distance='4'">
			3 to 5 feet <img class="arrow" src='assets/right_arrow.png'>
		</div>
		<div class="horizontal-bar col-xs-12 answer answer4 cursor-pointer" ng-click="qStorage.model.distance='7'">
			5 to 10 feet <img class="arrow" src='assets/right_arrow.png'>
		</div>
		<div class="horizontal-bar col-xs-12 answer answer5 cursor-pointer" ng-click="qStorage.model.distance='10'">
			More than 10 feet <img class="arrow" src='assets/right_arrow.png'>
		</div>
	</div>
</div>