<div class="container-fluid">
    <div class="row" ui-sref="instructions">
        <div class="horizontal-bar col-xs-12 question question-types">
            What type of light bulb are you using?
        </div>
        <div class="horizontal-bar3 col-xs-12 answer answer1 cursor-pointer" ng-click="qStorage.model.type='fluorescent'">
            Fluorescent&nbsp;&nbsp;<img class='bulb-icon' src='assets/fluorescent-white.png'>
            &nbsp;&nbsp;<img class="arrow" src='assets/right_arrow.png'>
        </div>
        <div class="horizontal-bar3 col-xs-12 answer answer2 cursor-pointer" ng-click="qStorage.model.type='incandescent'">
            Incandescent&nbsp;&nbsp;<img class='bulb-icon' src='assets/incandescent-white.png'>
            &nbsp;&nbsp;<img class="arrow" src='assets/right_arrow.png'>
        </div>
        <div class="horizontal-bar3 col-xs-12 answer answer3 cursor-pointer" ng-click="qStorage.model.type='LED'">
            LED&nbsp;&nbsp;<img class='bulb-icon' src='assets/led-white.png'>
            &nbsp;&nbsp;<img class="arrow" src='assets/right_arrow.png'>
        </div>
    </div>
</div>